In [1]:
import pandas as pd

def load():
    restart = input('Do you want to restart (y/n):')
    global df
    if restart == 'y':
        with open('ESV_raw.csv', 'r') as file:
            df = pd.read_csv(file, header=None)
        print('Raw file loaded.')
    elif restart == 'n':
        with open('ESV_fixed.csv', 'r') as file:
            df = pd.read_csv(file, index_col=0)
        print('Fixed file loaded.')
    else:
        print('Invalid entry. Run again.')

def lastreplace(verse, to_replace, new, maxreplace):
    result = new.join(verse.rsplit(to_replace, maxreplace))
    return result
        
def edit():
    are_you_sure = input('Are you sure you want to run edit? (y/n) ')
    global df
    if are_you_sure == 'y':
        
        for row in range(0, df.shape[0]):
            verse = df.iloc[row, 3]
            if verse.endswith('\\n'):
                verse = lastreplace(verse, '\\n', '', 1)
            if verse.endswith('\n'):
                verse = lastreplace(verse, '\n', '', 1)
            verse = verse.replace('\\n', '\n\n', 1)
            verse = verse.replace('\\n', '\n')
            if verse.find('\n') != -1:
                verse = verse + '\n'
                df.iloc[row,3] = verse
            else:
                df.iloc[row,3] = verse
        print('Edit successful.')
    else:
        print('No edits made.')

def save():
    global df
    print("Enter 'ESV_fixed.csv' to save to master.")
    file = input('Save as (.csv file):')
    df.to_csv(file)

def book(book,chapter):
    global df
    for row in range(0, df.shape[0]):
        if df.iloc[row,0] == book and df.iloc[row,1] == chapter:
            print(str(df.iloc[row,2]) + ' ' + df.iloc[row,3])

In [3]:
load()

Do you want to restart (y/n): n

Fixed file loaded.

In [ ]:
edit()

In [ ]:
save()

In [6]:
df.head()

   0  1  2                                                  3
0  1  1  1  In the beginning, God created the heavens and ...
1  1  1  2  The earth was without form and void, and darkn...
2  1  1  3  And God said, \n\nLet there be light,\n and th...
3  1  1  4  And God saw that the light was good. And God s...
4  1  1  5  God called the light Day, and the darkness he ...

In [ ]:
book(1,2)

In [ ]:
%load_ext sql
%sql sqlite:///esv.db

In [ ]:
%%sql

DROP TABLE book;
DROP TABLE verse;

In [ ]:
%%sql

CREATE TABLE book (
    book_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name varchar NOT NULL,
    info varchar,
    testament varchar NOT NULL
);

CREATE TABLE verse (
    verse_id INTEGER PRIMARY KEY AUTOINCREMENT,
    chapter INTEGER NOT NULL,
    text varchar NOT NULL,
    comment varchar,
    jesus_text INTEGER NOT NULL
);