In [2]:
import pandas as pd

raw_data = pd.read_excel('labx test.xlsx',
              sheet_name= 'Sheet1',
              names = ['Name', 'Value', 'Description'])

raw_data.head()

                       Name                Value Description
0             Creation time  2020-07-08 11:24:06         NaN
1             Overall state                   OK         NaN
2  Measurement duration [s]                    2         NaN
3             Creation time  2020-07-08 11:24:13         NaN
4             Overall state                   OK         NaN

In [4]:
raw_data = raw_data.iloc[12:,:]
raw_data

                     Name                Value Description
12          Creation time  2020-07-08 11:25:13         NaN
13          Overall state                   OK         NaN
14          Creation time  2020-07-08 11:25:16         NaN
15          Overall state                   OK         NaN
16                Comment                  NaN     Comment
..                    ...                  ...         ...
134  Peak 3 transmittance          55.48556 %T         NaN
135         Creation time  2020-07-08 11:27:23         NaN
136         Overall state                   OK         NaN
137                Result    0.288705479 mg/mL         NaN
138        Decimal places                    9         NaN

[127 rows x 3 columns]

In [15]:
raw_data[raw_data['Name'].str.contains('Peak')]

                     Name        Value Description
58      Peak 1 wavelength    277.80 nm         NaN
59      Peak 1 absorbance    0.43502 A         NaN
60   Peak 1 transmittance  36.72654 %T         NaN
61      Peak 2 wavelength    281.80 nm         NaN
62      Peak 2 absorbance    0.42350 A         NaN
63   Peak 2 transmittance  37.71377 %T         NaN
64      Peak 3 wavelength    290.40 nm         NaN
65      Peak 3 absorbance    0.25223 A         NaN
66   Peak 3 transmittance  55.94612 %T         NaN
92      Peak 1 wavelength    277.60 nm         NaN
93      Peak 1 absorbance    0.43767 A         NaN
94   Peak 1 transmittance  36.50312 %T         NaN
95      Peak 2 wavelength    281.60 nm         NaN
96      Peak 2 absorbance    0.42609 A         NaN
97   Peak 2 transmittance  37.48953 %T         NaN
98      Peak 3 wavelength    290.40 nm         NaN
99      Peak 3 absorbance    0.25502 A         NaN
100  Peak 3 transmittance  55.58787 %T         NaN
126     Peak 1 wavelength    277.60 nm         NaN
127     Peak 1 absorbance    0.43843 A         NaN
128  Peak 1 transmittance  36.43930 %T         NaN
129     Peak 2 wavelength    282.80 nm         NaN
130     Peak 2 absorbance    0.42702 A         NaN
131  Peak 2 transmittance  37.40934 %T         NaN
132     Peak 3 wavelength    290.40 nm         NaN
133     Peak 3 absorbance    0.25582 A         NaN
134  Peak 3 transmittance  55.48556 %T         NaN