# Defining function to pull MU baseball data

* gives global "db_names" and "table_data"
* also gives database name map with "name_map" dictionary

In [1]:
import requests 
from bs4 import BeautifulSoup 
from pprint import pprint
import pandas as pd
import numpy

def pull_MU(year):
    url = 'https://floridagators.com/sports/baseball/stats/'+str(year)
    r = requests.get(url)
    soup = BeautifulSoup(r.content, "html")
    table = soup.table
    
    trs = table.find_all('tr')
    header_row = trs[0]
    
    names = []
    for column in header_row.find_all('th'):
        names.append(column.text)
    names.remove('Bio Link')
    
    global db_names
    global table_data
    table_data = []
    db_names = []
    for column in names:
        db_names.append(column.lower())
    table_data = table.find_all('tr')
    table_data = table_data[1:]
    
    global name_map
    names_full = ['Player Number', 'Name','Batting Average','On-base Plus Slugging',
             'Games Played','Games Started','At-bat','Run','Hit','Double','Triple','Home Run',
             'Runs Batted In','Total Bases','Slugging Percentage','Walk','Hit-by-pitch','Strikeout',
             'Ground Into Double Play','On-base Percentage','Sacrifice Fly','Sacrifice Bunt',
             'Stolen bases allowed','Stealing attempts', 'Year']
    db_names[4] = 'gp'
    db_names[21] = 'sb'
    db_names.insert(22,'att')
    db_names.insert(5, 'gs')
    db_names.append('year')
    name_map = dict(zip(db_names, names_full))

# Defining function to clean and format to insert into Pandas

In [2]:
def clean_MU(data, year):
    processed_data = []


    for row in range(0, len(table_data)-2):
        row_data = table_data[row].text.split()

        if len(table_data[row].text.split()) == 28:
            row_data = row_data[3:26]
            row_data[1:3] = [' '.join(row_data[1:3])]
            row_data = [y for x in row_data for y in x.split('-')]
            row_data.append(year)
            processed_data.append(
                dict(zip(db_names,row_data)))

        elif len(table_data[row].text.split()) == 30:
            row_data = row_data[4:28]
            row_data[1:4] = [' '.join(row_data[1:4])]
            row_data = [y for x in row_data for y in x.split('-')]
            row_data.append(year)
            processed_data.append(
                dict(zip(db_names,row_data)))

        else:
            print('Row with index of {} not stored'.format(row))
            print(table_data[row].text.split())
            
        

    return processed_data

# Extracting and formatting all MU Baseball Data

In [3]:
pull_MU(2007)
uf2007 = clean_MU(table_data, 2007)

pull_MU(2008)
uf2008 = clean_MU(table_data, 2008)

pull_MU(2009)
uf2009 = clean_MU(table_data, 2009)

pull_MU(2010)
uf2010 = clean_MU(table_data, 2010)

pull_MU(2011)
uf2011 = clean_MU(table_data, 2011)

pull_MU(2012)
uf2012 = clean_MU(table_data, 2012)

pull_MU(2013)
uf2013 = clean_MU(table_data, 2013)

pull_MU(2014)
uf2014 = clean_MU(table_data, 2015)

pull_MU(2015)
uf2015 = clean_MU(table_data, 2015)

pull_MU(2016)
uf2016 = clean_MU(table_data, 2016)

pull_MU(2017)
uf2017 = clean_MU(table_data, 2017)

pull_MU(2018)
uf2018 = clean_MU(table_data, 2018)

pull_MU(2019)
uf2019 = clean_MU(table_data, 2019)

# Insert data into Pandas Dataframe

* Combines all df into one
* Saves as HDF5 file

In [4]:
df2007 = pd.DataFrame(uf2007)
df2008 = pd.DataFrame(uf2008)
df2009 = pd.DataFrame(uf2009)
df2010 = pd.DataFrame(uf2010)
df2011 = pd.DataFrame(uf2011)
df2012 = pd.DataFrame(uf2012)
df2013 = pd.DataFrame(uf2013)
df2014 = pd.DataFrame(uf2014)
df2015 = pd.DataFrame(uf2015)
df2016 = pd.DataFrame(uf2016)
df2017 = pd.DataFrame(uf2017)
df2018 = pd.DataFrame(uf2018)
df2019 = pd.DataFrame(uf2019)

In [5]:
mu_baseball = pd.concat([df2007, df2008, df2009, df2010, df2011, 
                         df2012, df2013, df2014, df2015, 
                         df2016, df2017, df2018, df2019])

In [9]:
filepath = "./dataframes/baseball.h5"
mu_baseball.to_hdf(filepath, key = 'uf')

# Opening saved file and queries to make sure it read correctly

In [15]:
reread = pd.read_hdf('./dataframes/baseball.h5', key = 'uf')

In [14]:
reread

,#,player,avg,ops,gp,gs,ab,r,h,2b,...,bb,hbp,so,gdp,ob%,sf,sh,sb,att,year
0,8,"Howard, Ryan",.308,.802,58,58,224,29,69,13,...,18,5,24,13,.369,2,2,6,11,2015
1,5,"Bond, Brett",.294,.751,51,46,163,25,48,2,...,12,3,36,6,.352,1,0,4,4,2015
2,25,"Ring, Jake",.282,.808,58,58,220,39,62,15,...,30,4,48,2,.376,1,3,8,12,2015
3,17,"Lester, Josh",.280,.799,58,58,211,33,59,8,...,30,1,30,2,.363,6,1,2,6,2015
4,6,"Harris, Trey",.263,.683,53,52,186,27,49,7,...,10,3,37,2,.307,3,5,6,6,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,2,"Broyles, Thomas",.246,.748,28,15,65,14,16,3,...,18,0,18,1,.410,0,1,6,7,2019
13,14,"Peterson, Alex",.200,.565,36,21,80,17,16,3,...,8,3,19,3,.290,2,1,5,5,2019
14,26,"Mallett, Trevor",.200,.798,13,4,20,4,4,0,...,9,0,7,0,.448,0,0,0,0,2019
15,23,"James, Austin",.195,.705,32,23,87,15,17,6,...,12,3,31,0,.314,0,1,5,6,2019
16,13,"Swanger, Cameron",.195,.593,22,8,41,2,8,1,...,1,1,11,0,.227,1,0,0,0,2019