In [1]:
import pandas as pd

def load():
    restart = input('Do you want to restart (y/n):')
    global df
    if restart == 'y':
        with open('ESV_raw.csv', 'r') as file:
            df = pd.read_csv(file, header=None)
        print('Raw file loaded.')
    elif restart == 'n':
        with open('ESV_fixed.csv', 'r') as file:
            df = pd.read_csv(file, index_col=0)
        print('Fixed file loaded.')
    else:
        print('Invalid entry. Run again.')

def lastreplace(verse, to_replace, new, maxreplace):
    result = new.join(verse.rsplit(to_replace, maxreplace))
    return result
        
def edit():
    are_you_sure = input('Are you sure you want to run edit? (y/n) ')
    global df
    if are_you_sure == 'y':
        
        for row in range(0, df.shape[0]):
            verse = df.iloc[row, 3]
            if verse.endswith('\\n'):
                verse = lastreplace(verse, '\\n', '', 1)
            if verse.endswith('\n'):
                verse = lastreplace(verse, '\n', '', 1)
            verse = verse.replace('\\n', '\n\n', 1)
            verse = verse.replace('\\n', '\n')
            if verse.find('\n') != -1:
                verse = verse + '\n'
                df.iloc[row,3] = verse
            else:
                df.iloc[row,3] = verse
        print('Edit successful.')
    else:
        print('No edits made.')

def save():
    global df
    print("Enter 'ESV_fixed.csv' to save to master.")
    file = input('Save as (.csv file):')
    df.to_csv(file)

def book(book,chapter):
    global df
    for row in range(0, df.shape[0]):
        if df.iloc[row,0] == book and df.iloc[row,1] == chapter:
            print(str(df.iloc[row,2]) + ' ' + df.iloc[row,3])

In [3]:
load()

Do you want to restart (y/n): n

Fixed file loaded.

In [ ]:
edit()

In [ ]:
save()

In [2]:
df.head()

NameError: name 'df' is not defined

In [ ]:
print(df.iloc[47,3].replace('\\n', '\n'))

In [ ]:
print('\\\\n')
print('\n')

In [ ]:
df.iloc[2,3]

In [5]:
book(10,1)

1 After the death of Saul, when David had returned from striking down the Amalekites, David remained two days in Ziklag.
2 And on the third day, behold, a man came from Saul's camp, with his clothes torn and dirt on his head. And when he came to David, he fell to the ground and paid homage.
3 David said to him,

Where do you come from?
 And he said to him,
I have escaped from the camp of Israel.

4 And David said to him,

How did it go? Tell me.
 And he answered,
The people fled from the battle, and also many of the people have fallen and are dead, and Saul and his son Jonathan are also dead.

5 Then David said to the young man who told him,

How do you know that Saul and his son Jonathan are dead?

6 And the young man who told him said,

By chance I happened to be on Mount Gilboa, and there was Saul leaning on his spear, and behold, the chariots and the horsemen were close upon him.

7 And when he looked behind him, he saw me, and called to me. And I answered, 'Here I am.'
8 And he said to me, 'Who are you?' I answered him, 'I am an Amalekite.'
9 And he said to me 'Stand beside me and kill me, for anguish has seized me, and yet my life still lingers.'
10 So I stood beside him and killed him, because I was sure that he could not live after he had fallen. And I took the crown that was on his head and the armlet that was on his arm, and I have brought them here to my lord.
11 Then David took hold of his clothes and tore them, and so did all the men who were with him.
12 And they mourned and wept and fasted until evening for Saul and for Jonathan his son and for the people of the LORD and for the house of Israel, because they had fallen by the sword.
13 And David said to the young man who told him,

Where do you come from?
 And he answered,
I am the son of a sojourner, an Amalekite.

14 David said to him,

How is it you were not afraid to put out your hand to destroy the LORD's anointed?

15 Then David called one of the young men and said,

Go, execute him.
 And he struck him down so that he died.

16 And David said to him,

Your blood be on your head, for your own mouth has testified against you, saying, 'I have killed the LORD's anointed.'

17 And David lamented with this lamentation over Saul and Jonathan his son,
18 and he said it should be taught to the people of Judah; behold, it is written in the Book of Jashar. He said:
19

Your glory, O Israel, is slain on your high places! How the mighty have fallen!

20 Tell it not in Gath, publish it not in the streets of Ashkelon, lest the daughters of the Philistines rejoice, lest the daughters of the uncircumcised exult.
21

You mountains of Gilboa, let there be no dew or rain upon you, nor fields of offerings! For there the shield of the mighty was defiled, the shield of Saul, not anointed with oil.

22

From the blood of the slain, from the fat of the mighty, the bow of Jonathan turned not back, and the sword of Saul returned not empty.

23

Saul and Jonathan, beloved and lovely! In life and in death they were not divided; they were swifter than eagles; they were stronger than lions.

24

You daughters of Israel, weep over Saul, who clothed you luxuriously in scarlet, who put ornaments of gold on your apparel.

25

How the mighty have fallen in the midst of the battle!
Jonathan lies slain on your high places.

26 I am distressed for you, my brother Jonathan; very pleasant have you been to me; your love to me was extraordinary, surpassing the love of women.
27

How the mighty have fallen, and the weapons of war perished!

In [ ]:
book(1,2)

In [ ]:
%load_ext sql
%sql sqlite:///esv.db

In [ ]:
%%sql

DROP TABLE book;
DROP TABLE verse;

In [ ]:
%%sql

CREATE TABLE book (
    book_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name varchar NOT NULL,
    info varchar,
    testament varchar NOT NULL
);

CREATE TABLE verse (
    verse_id INTEGER PRIMARY KEY AUTOINCREMENT,
    chapter INTEGER NOT NULL,
    text varchar NOT NULL,
    comment varchar,
    jesus_text INTEGER NOT NULL
);