In [12]:
import pandas as pd
import numpy

In [14]:
import pandas as pd

player = pd.read_excel('./dataframes/1958to2011.xlsx')

In [ ]:
websites = {'North Carolina-Wilmington':'http://uncwsports.com/sports/baseball/stats/',
           'LeMoyne':'https://lemoynedolphins.com/sports/baseball/stats/',
           }

In [30]:
player.iloc[1:2,:]

,Year,Team,Player,AVG,GP,GS,AB,R,H,2B,...,HBP,SO,GIDP,OBP,SF,SH,SB,ATT,PO,A
1,1958,North Carolina-Wilmington,Bill Elliott,0.156,13.0,0,32,4,5,0,...,0,0.0,0,0.156,0,0,0.0,0.0,0.0,0.0